template(name='blindspotMap')
  #blindspot-map.map
    .loading(class="{{#unless loading}} hiddenLoader {{/unless}}")
      .loading-content
        if loading
          i.loading-spinner
          h1.loading-text Loading

  #sidebar.sidebar.sidebar-left.sidebar-main
    // Nav tabs
    ul.sidebar-tabs
      li#sidebar-collapse-tab
        a(href='#sidebar-search-and-advanced-filter' role='tab')
          i.fa.fa-chevron-circle-left.fa-white
      button#sidebar-plus-button.sidebar-zoom-in.fa.fa-plus.btn.btn-sm
      button#sidebar-minus-button.sidebar-zoom-out.fa.fa-minus.btn.btn-sm

    // Tab panes
    .sidebar-content
      .sidebar-pane.active
        h1.logo Surveillance Paucity Analysis
        .sidebar-pane-content
          p
            | This map shows the number of mentions per capita of each country on ProMED-mail feeds.
            | Mentions are determined by a toponym resolution algorithm that counts a mention of any location within a country as a mention of that country.
          a(href="/trending") View trending countries
          .control-wrapper
            .heading
              h3 Date Range
            p #{startDate} through #{endDate}
            if intervalGreaterThanOneDay
              +slider sliderMin=intervalStartDate sliderMax=intervalEndDate
          .filter-row
            .filter-group
              label.filter-label Range Start
                i.fa.fa-question-circle.help-btn(
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="This analysis is based on data from #{minDate} through #{maxDate}. The date range slider cannot be extended beyond that interval.")
              .input-group.date#intervalStartDate
                input.date-button.form-control.input-sm(value="{{formattedIntervalStartDate}}" type="text")
                .input-group-addon
                  span.glyphicon.glyphicon-calendar
          .filter-row
            .filter-group
              label.filter-label Range End
              .input-group.date#intervalEndDate
                input.date-button.form-control.input-sm(value="{{formattedIntervalEndDate}}" type="text")
                .input-group-addon
                  span.glyphicon.glyphicon-calendar
          +feeds
  #tableSidebar.sidebarRight.collapsed
    ul.sidebar-tabs.right
      li#sidebar-table-tab
        a(href='#sidebar-table' role='tab')
          i.fa.fa-angle-double-left.fa-white-arrow
          i.fa.fa-table.fa-white-table
    .sidebar-content
      #sidebar-table.sidebar-pane
        +spaTable aggregatedCountryData=aggregatedCountryData

template(name='legend')
  h4 Mentions per million residents per year
  .values
    each values
      .value
        .value--key(style="background:#{color}")
        .value--value #{value}
